.card1_about{
  border: solid 1px #1370b5;
  background: transparent !important;
  .uk-card-header{
    min-height: 128px;
    border: none;
  }
  .uk-card-body{
    padding-top: 10px;
  }
}
//======================================