.title1{
  color: #1370b5;
  //line-height: 0.79;
  font-size: 28px;
  font-family: $font-Montserrat-Bold;
}
//======================================
.thongtingoi{
  .title2{

  }
  .price{
    font-family: $font-Montserrat-Bold;
    color: #ff6400;
  }
  .desc{

  }
}
//======================================
.btn1-register{
  background: #ff0000;
  text-transform: inherit;
  font-family: $font-Montserrat-SemiBold;
}
//======================================
.title2{
  font-family: $font-Montserrat-Medium;
}