body{
  font-family: $font-Montserrat-Regular;
  font-size: 13px;
  color: #000;
}
//======================================
.overlay-c1{
  background: rgba(0, 0, 0, 0.64) !important;
}
//======================================
.overlay-c2{
  background-color: rgba(19, 112, 181, 0.9);
}
//======================================