.mb-gia-1{
  >li{
    &:nth-child(n+2){
      margin-top: 10px !important;

    }
  }
  .uk-open{
    .uk-accordion-title{
      &:before{
        content: "\f0d7";
      }
    }
  }
  .uk-accordion-title{
    text-align: center;
    background-color: #1370b5;
    color: #ffffff;
    font-family: $font-Montserrat-SemiBold;
    font-size: 16px;
    padding: 17px 15px;
    .mb-gia-2 &{
      background-color: #fe8336;
      font-size: 15px;
    }
    &:before{
      content: "\f0da";
      background-image: none !important;
      font: normal normal normal 14px/1 FontAwesome;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }
  .uk-accordion-content{
    margin: 0 !important;
    .mb-gia-2 &{
      margin-top: 20px !important;
    }
  }
}
//======================================

//======================================